/* CSS for Admin */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.clearfix {
    float: none;
    clear: both;
}

.tbl-full {
    width: 100%;
}

.tbl-30 {
    width: 30%;
}

table tr th {
    border-bottom: 1px solid #f17242;
    padding: 1%;
    text-align: left;
}

table tr td {
    padding: 1%;
}

.btn {
    
    border: 1px solid #f17242;
    font-size: 1rem;
    border-radius: 10px;
  }
  .btn1{
    
    border: 2px solid #f17242;
    padding: 2px;
    font-size: 1rem;
    border-radius: 50px;
  }

.btn-primary {
    background: 1px #f17242;
    border : 1px solid #f17242;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 80px;
}

.btn-primary:hover {
    background-color: #f0561e;
}

.btn-secondary {
    background: 1px #7bed9f;
    padding: 1%;
    color: #014f1a;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #2ed573;
}

.btn-danger {
    background: 1px #ff6b81;
    padding: 1%;
    color: rgb(134, 4, 4);
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #ff4757;
}

.success {
    color: green;
}

.error {
    color: red;
}


/* CSS for Menu */

.menu {
    border-bottom: 1px solid #f17242;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #f17242;
}

.menu ul li a:hover {
    color: #f0561e;
}


/* CSS for Main Content */

.main-content {
    background-color: #f1f2f6;
    color : #f17242;
    padding: 3% 0;
}

.col-4 {
    width: 18%;
    background-color: white;
    
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */

.footer {
    background-color: #f17242;
    color: white;
}
/* CSS for login */
.login{
    width: 20%;
    border: 4px solid #f17242;
    border-radius: 10%;
    margin: 10% auto;
    padding: 2%;
    color:#f17242;
    
}
